$border-color: #8080803d;
$text-color: #1110108c;
$primary-color: #ff6600;
$quantity-color: #3f51b517;
$quantity-input-color: #3f51b500;
$white: #fff;

@mixin fontDefault {
  font-size: 14px;
}

@mixin fontDefaultMobile {
  font-size: 12px;
}

$mobile-width: 576px;
$tablet-width: 768px;


@mixin mobile {
  @media (max-width: $mobile-width) {
      @content;
  }
}

@mixin table {
  @media (max-width: $tablet-width - 1px) {
    @content;
  }
}
